<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Xamarin.WebServicesAsync.Droid">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />
	<application android:label="Xamarin.WebServicesAsync.Droid" android:theme="@android:style/Theme.Holo.Light.DarkActionBar"></application>
</manifest>